Si la mayoria de las preguntas tienen respuesta 1, cambiar el modal de resultado a: 
imagen de fondo (linea 200 del codigo test.html) a images/bgfound-big.jpg.
texto del H2 de level title (linea 215 del codigo test.html) a "Nivel 1:".
texto del H3 de level title (linea 217 del codigo test.html) a "Foundation"
texto del p de description (linea 224 del codigo test.html) a "El primer sistema de crecimiento para marcas que ya validaron su propuesta."
texto del a del call to action (linea 230 del codigo test.html) a "Quiero estructurar mi crecimiento" y que el boton direccione a la pagina foundation.html cuando se haga click


Si la mayoria de las preguntas tienen respuesta 2, cambiar el modal de resultado a: 
imagen de fondo (linea 200 del codigo test.html) a images/bgexpand-big.jpg.
texto del H2 de level title (linea 215 del codigo test.html) a "Nivel 2:".
texto del H3 de level title (linea 217 del codigo test.html) a "Expansion"
texto del p de description (linea 224 del codigo test.html) a "La estructura que tu marca necesita para escalar de verdad, no solo gastar más en ads."
texto del a del call to action (linea 230 del codigo test.html) a "Quiero escalar con sistema" y que el boton direccione a la pagina expansion.html cuando se haga click


Si la mayoria de las preguntas tienen respuesta 3, cambiar el modal de resultado a: 
imagen de fondo (linea 200 del codigo test.html) a images/bgerebui-big.jpg.
texto del H2 de level title (linea 215 del codigo test.html) a "Nivel 3:".
texto del H3 de level title (linea 217 del codigo test.html) a "Rebuild"
texto del p de description (linea 224 del codigo test.html) a "Reconstruimos tu sistema de crecimiento desde datos reales."
texto del a del call to action (linea 230 del codigo test.html) a "Quiero reconstruir con criterio" y que el boton direccione a la pagina rebuild.html cuando se haga click


Si la mayoria de las preguntas tienen respuesta 4, cambiar el modal de resultado a: 
imagen de fondo (linea 200 del codigo test.html) a images/bgerebui-big.jpg.
texto del H2 de level title (linea 215 del codigo test.html) a "Nivel 4:".
texto del H3 de level title (linea 217 del codigo test.html) a "Amplify"
texto del p de description (linea 224 del codigo test.html) a "El sistema que coordina performance y marca para escalar con propósito, cultura visual y rentabilidad real."
texto del a del call to action (linea 230 del codigo test.html) a "Quiero escalar con propósito" y que el boton direccione a la pagina amplify.html cuando se haga click